<section>
  <img class="img-thumbnail" src="./assets/logo.png">
  <h1 class="align-self-center">{{product.name}}</h1>
  <p>{{product.description}}</p>
  <button type="button" class="btn btn-success">${{product.price}}</button>
</section>

<script src="./js/product.js"></script>