<section class = "container d-flex flex-column align-items-center">
  <h1>ShopOrDy</h1>
  <h6>Become a true consumer and spend as much as you can!</h6>
  <button type="button" class="btn btn-success col-6 my-3 play_button">Shop!</button>
</section>

<script src="./js/homepage.js"></script>