<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=""utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">   
        <link rel="stylesheet" type="text/css" href="/style/style.css">
    </head>
</html>

<header class="container-fluid lead text-center bg-primary">SHOP LOGIN PAGE</header>
<body class="bg-">
<div class="container col-md-4 offset-md-4 d-block">
    <div class="login-card">
      <h2 class="page-title text-center">Login</h2>
      <form class="form login-form">
        <div class="form-group col-md-4 offset-md-4 ">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group col-md-4 offset-md-4">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary " type="submit">login</button>
        </div>
      </form>
    </div>
</div>

<div class="container col-md-4 offset-md-4">
    <button type="button" class="btn btn-link col-md-4 offset-md-4" data-bs-toggle="button">Click here to sign up!</button>
    <div class="login-cards d-none">
      <h2 class="page-title text-center">Signup</h2>
      <form class="form signup-form">
        <div class="form-group col-md-4 offset-md-4">
          <label for="username-signup">Username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group col-md-4 offset-md-4">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group col-md-4 offset-md-4">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>