<section class = "modal fade" tabindex = "-1">
  <section class = "modal-dialog model-dialog-centered">
    <section class = "modal-content">
      <section class = "modal-header">
        <h1 class = "modal-title">{{product_id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </section>
      <section class = "modal-body">
        <img class="img-thumbnail" src="./assets/logo.png">
        <p>{{product_description}}</p>
      </section>
    </section>
  </section>
</section>